* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 4000px;
    height: 3000px;
    -webkit-box-shadow: inset 0px 0px 0px 10px rgba(172,250,28,1);
    -moz-box-shadow: inset 0px 0px 0px 10px rgba(172,250,28,1);
    box-shadow: inset 0px 0px 0px 10px rgba(172,250,28,1);
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50vh;
  color: #fff;
}
.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
}
.logo {
  position: sticky;
  text-align: right;
  bottom: 0;
}
main {
  display: flex;
  height: 100%;
}
#scene {
  display: flex;
  margin: 2%;
}

img {
  width: 400px;
  height: 400px;
}
.card1 {
  left: 0px !important;
  top: 0px !important;
}
.card2 {
  left: 0px !important;
  top: 750px !important;
}
.card3 {
  left: 0px!important;
  top: 1500px!important;
}
.card4 {
  left: 1953px!important;
  top: 0px!important;
}
.card5 {
  left: 2300px!important;
  top: 800px!important;
}
.card6 {
  left: 2900px!important;
  top: 1000px!important;
}
.card7 {
  left: 3900px!important;
  top: 2000px!important;
}
.card8 {
  left: 3000px!important;
  top: 900px!important;
}
.card9 {
  left: 3700px!important;
  top: 1200px!important;
}
.card10 {
  left: 3900px!important;
  top: 1900px!important;
}