* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50vh;
  color: #fff;
}
.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
}
.logo {
  position: sticky;
  text-align: right;
  bottom: 0;
}
#up {
  display: flex;
}
.center {
  display: flex;
}
#bottom {
  display: flex;
}
